.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
color.out
colors.out
.vscodeignore
test.json
test.ott
dark_default.json
syntaxes/coq.tmLanguage.json
